body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #00f, #00a);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://images.unsplash.com/photo-1630260667842-830a17d12ec9?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.location-input {
    margin-bottom: 20px;
}

.location-input input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.location-input button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f262e;
    color: white;
    cursor: pointer;
}

.location-input button:hover {
    background-color: #2c2d2e;
}

.weather-info {
    margin-top: 20px;
}
